body {
    background-color: white; 
}

.iconU, .iconM, .iconS {
    font-size: 2rem; 
    color: white; 
    transition: transform 0.3s , font-weight 0.3s ;
}

.iconM {
    margin-top: 25px; 
    margin-left: 30px;
}

.iconU, .iconS {
    display: inline-block; /*icons next to each other */
    margin-left: 0px; 
    margin-top: 25px;
    float: right;
    margin-right: 40px;
}


.iconU:hover {
    transform: scale(1.3); 
    font-weight: bold;
}
.iconM:hover {
    transform: scale(1.3); 
    font-weight: bold;
}
.iconS:hover {
    transform: scale(1.2); 
    font-weight: bold;
}