.text-container {
    position: fixed; 
    bottom: 20px;
    height :150px ;
    top: 480px;
    left: 100px;
    width: 400px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, opacity 0.5s ease;
    cursor: pointer;
    color: white;
}
.text-container:hover {
    transform: scale(1.25);
    cursor: pointer;
}
.responsive-title :hover{
    font-size: clamp(1.5rem, 5vw + 1rem, 2rem); 
    color: #333;
    margin: 0;
}

.responsive-paragraph {
    font-size: clamp(0.875rem, 3vw + 0.5rem, 1rem); 
    color: #ffffff; 
}

.p{
    color: white;
}